<table class="table projects">
    <thead>
    <tr>
        <th style="width:1px"><input type="checkbox" class="assetAssignmentCheckboxAll" data-instanceid="{{ instanceid }}" /></th>
        <th style="width:5em">Объект</th>
        <th style="width:35em">{# Комментарий #}</th>
        <th style="width:25em">{# Характеристики #}</th>
        <th>Статус/Местоположение</th>
        <th style="width:6em;">Масса</th>
        {% if project.projectsTypes_config_finance == 1 %}
        <th style="width:5em;">Цена</th>
        <th style="width:9em;">Со скидкой</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
        {% block tableBody %}{% endblock %}
    </tbody>
</table>
<style>
    .categoryFilter {
        background-color: #fafafa;
    }
    .dark-mode .categoryFilter {
        background-color: #31373c;
    }
    .table td {
        vertical-align: top;
    }
</style>
