<body>
    <div class="container">
        <table border="1">
            <tr>
                <th>
                    ID объекта
                </th>
                <th>
                    Тип объекта
                </th>
                <th>
                    Штрихкод
                </th>
                <th>
                    Тип штрихкода
                </th>   
            </tr>

        {% for i in range(0,(assets|length - 1)) %}
            <tr>
                <td>
                    {{ assets[i].isAsset ? assets[i].assets_tag : '<i>Еще не привязан к объекту</i>' }}
                </td>
                <td>
                     {{ assets[i].isAsset ? assets[i].assetTypes_name : '<i>Еще не привязан к объекту</i>' }}
                </td>
                <td>
                    {{ assets[i].barcode.assetsBarcodes_value }}
                </td>
                <td>
                    {{ assets[i].barcode.assetsBarcodes_type }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</body>
