{% extends "assets/template.twig" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Добро пожаловать в {{ CONFIG.PROJECT_NAME }}
                </h3>
            </div>
            <div class="card-body">
                <p>AdamRMS — бесплатная система управления арендой для театра, AV и вещания с открытым исходным кодом</p>
                <a href="https://adam-rms.com/" class="btn btn-default" target="_blank">Подробнее</a>
                <hr />
                <p>В {{ CONFIG.PROJECT_NAME }} у каждой организации своя область. Сервис рассчитан на использование несколькими организациями с одной учетной записью (в которую вы сейчас вошли). Чтобы начать, присоединитесь к организации.</p>
            </div>
        </div>
        {% include 'assets/templates/joinInstance.twig' %}
    </div>
    {# Company creation disabled and moved to legacy #}
</div>
{% endblock %}
