{# Moved to legacy. UI for creating a new business is disabled. #}
{% extends "assets/template.twig" %}
{% block content %}
<div class="alert alert-info m-3">Company creation has been disabled.</div>
{% endblock %}

